h1{
    border-style: ridge;
    margin-top: 20px;
   
  
    color: white;
    background-color: rgb(75, 71, 71);
    height: 200px;
}
h2{
    width: 50px;
}
img{
    width: 350px;
    height: 250px;
    
}
